.add {
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: absolute;
  bottom: 90px;
}

.add_textbox {
  width: 962px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #000;
  background: #FFF;
  font-size: 36px;
  padding: 12px;
}

.add_button {
  width: 167px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #000;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.add_button:active {
  transform: translateY(2px);
}