.App {
  background: #EDFF82;
  width: 100vw;
  height: 100vh;
  padding: 100px 130px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}


.header {
  color: #000;
  font-family: Outfit;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 60px;
  flex-shrink: 0;
}

.items {
  display: flex;
  flex-direction: column;
}